@font-face {
    font-family: Rubic Regular;
    font-display: auto;
    src: local('RubiK Regular'), url('../fonts/Rubik-Regular.woff2');
    font-style: normal;
  }
  @font-face {
    font-family: Rubic Bold;
    font-display: auto;
    src: local('RubiK Bold'), url('../fonts/Rubik-Bold.woff2');
    font-style: normal;
  }