section.navbar.container 
    .navbar_logo 
        img(src="../img/logo.png", alt="logo")
    .navbar_menu   
        ul
            li About
            li Features
            li Pricing
            li Testimonials
            li Help
    .navbar_registration
        a(href="#") Sign In
        button(class='btn_opacity' type='button')
              | Sign Up
